/* paleta de colores */

:root{
    --bg-p1: #10202D;
    --bg-p2: #FEFEFE;
    --bg-p3: #B9C0C6;
    --bg-p4: #dee3e7;
    --bg-black: #000;
    --bg-while: #fff;
    /* tipografia */
    --space: "Space Mono", monospace;
}